<section id="content">
  <p>Hellow World!</p>
  <form>
    <input type="text" name="name" placeholder="Nombre"><br>
    <input type="submit" value="Enviar" onclick="formSubmit(event)">
  </form>
</section>